<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>AccountBalanceCheck</servlet-name>
        <servlet-class>com.servlet.AccountBalanceCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePhone</servlet-name>
        <servlet-class>com.servlet.changePhone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBalance</servlet-name>
        <servlet-class>com.servlet.AddBalance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveUserImage</servlet-name>
        <servlet-class>com.servlet.saveUserImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateImage</servlet-name>
        <servlet-class>com.servlet.UpdateImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserActiveAccount</servlet-name>
        <servlet-class>com.servlet.UserActiveAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveUserDetails</servlet-name>
        <servlet-class>com.servlet.SaveUserDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyForAtm</servlet-name>
        <servlet-class>com.servlet.ApplyForAtm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetAtmPinServlet</servlet-name>
        <servlet-class>com.servlet.SetAtmPinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeOldAtmPin</servlet-name>
        <servlet-class>com.servlet.changeOldAtmPin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FogotPasswordServlet</servlet-name>
        <servlet-class>com.servlet.FogotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOtp</servlet-name>
        <servlet-class>com.servlet.VerifyOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendEmailForUserId</servlet-name>
        <servlet-class>com.servlet.sendEmailForUserId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserIdToNew</servlet-name>
        <servlet-class>com.servlet.ChangeUserIdToNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTPSendForAtmPinChange</servlet-name>
        <servlet-class>com.servlet.OTPSendForAtmPinChange</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountBalanceCheck</servlet-name>
        <url-pattern>/AccountBalanceCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePhone</servlet-name>
        <url-pattern>/changePhone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBalance</servlet-name>
        <url-pattern>/AddBalance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveUserImage</servlet-name>
        <url-pattern>/saveUserImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateImage</servlet-name>
        <url-pattern>/UpdateImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserActiveAccount</servlet-name>
        <url-pattern>/UserActiveAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUserDetails</servlet-name>
        <url-pattern>/SaveUserDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyForAtm</servlet-name>
        <url-pattern>/ApplyForAtm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetAtmPinServlet</servlet-name>
        <url-pattern>/SetAtmPinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeOldAtmPin</servlet-name>
        <url-pattern>/changeOldAtmPin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FogotPasswordServlet</servlet-name>
        <url-pattern>/FogotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOtp</servlet-name>
        <url-pattern>/VerifyOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendEmailForUserId</servlet-name>
        <url-pattern>/sendEmailForUserId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserIdToNew</servlet-name>
        <url-pattern>/ChangeUserIdToNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OTPSendForAtmPinChange</servlet-name>
        <url-pattern>/OTPSendForAtmPinChange</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>main.jsp</welcome-file>
        <welcome-file>main.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.servlet.Login</servlet-class>
    </servlet>
    <!--    <filter>
        <filter-name>filter1</filter-name>
        <filter-classs>com.servlet.Mainfilter</filter-classs>
    </filter>
    <filter-mapping>
         <filter-name>filter1</filter-name>
         <url-pattern>/main.html</url-pattern>
    </filter-mapping>
    -->
</web-app>
